:root {
    --sidebar-width: 150px;
}

.container {
    width: 100%;
    display:grid;
    grid-template-areas: "sidebar main";
    grid-template-columns: var(--sidebar-width) auto;
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: rgba(51, 51, 51, 0.7);
  background-image: url("/assets/images/background.png");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-blend-mode: overlay;
  color: #fff;
  font-family: system-ui, sans-serif;
}

main {
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem;
}

h1 {
  text-shadow: #423f3f 3px 3px;
}

